.section {
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    padding: 1em;
    margin: 0 0 1em 0;

    flex: 5;
    display: flex;
    flex-direction: column;
    margin: .5em;
}
.section > span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section > span > {
    flex: 1;
}

.pre {
    margin: .3em;
    padding: 0 .2em;
    background-color: #eee;
unicode-bidi: embed;
font-family: monospace;
    border: 1px solid #888;
}
.var {
    color: #d33;
}
#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#app > div {
    max-height: 90vh;
    min-width: 20em;
    max-width: 100vw;
    overflow: auto;
}
#JSON textarea {
    height: 100%;
}
.clear-button {
    color: #d00;
}

.attribute {
    width: 100%;
  display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.attribute label {
    width: 40%;
}
.attribute .form {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.attribute .form .input {
    width: 100%;
    flex-grow: 2;
}